<% layout('layouts/boilerplate') %>
    <h1>List of All Game Masters</h1>
    <div>
        <a href="/gamemasters/new">Create New +</a>
    </div>
    <ul>
        <% for(let gm of gamemasters) { %>
            <li>
                <a href="/gamemasters/<%= gm._id %>">
                    <%= gm.name + " (" + gm.game + ")" %>
                </a>
            </li>
            <% } %>
    </ul>