<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMasters</title>
</head>
<body>
    <h1>List of All Game Masters</h1>
    <div>
        <a href="/gamemasters/new">Create New +</a>
    </div>
    <ul>
        <% for(let gm of gamemasters) { %>
            <li>
                <a href="/gamemasters/<%= gm._id %>"><%= gm.name + " (" + gm.game + ")" %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>