<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Game Master</h1>
        <div class="col-6 offset-3">
            <form action="/gamemasters" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="gm[name]" id="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="gm[email]" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="game" class="form-label">Game of Choice</label>
                    <input type="text" name="gm[game]" id="game" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price Per Session</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" name="gm[price]" id="price" class="form-control" placeholder="0.00"
                            aria-describedby="price-label" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="bio" class="form-label">About You</label>
                    <textarea type="text" name="gm[bio]" id="bio" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="gm[location]" id="location" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" name="gm[image]" id="image" class="form-control">
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Create GM Listing</button>
                </div>
            </form>
            <a class="btn btn-danger" href="/gamemasters">Go Back <-- </a>
        </div>
    </div>